.DS_Store
.idea/
.vscode/
.devcontainer/

build/
dist/
venv/
.venv/
.mypy_cache/
*.pyc
gp2gp_mesh_file_s3_forwarder.egg-info
mesh_inbox_s3_forwarder.egg-info
.tox
.coverage
audit-output.txt
htmlcov/
samples/
requirements.txt

