[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mesh-inbox-s3-forwarder = {editable = true, path = "."}

[dev-packages]
moto = {version = "~=2.2", extras = ["server"]}
pytest-cov = "~=2.10"
pytest = "~=6.1"
fake-mesh = "~=0.1.6"
pyfakefs = "~=4.3"
flake8 = "~=3.0"
flake8-bugbear="~=20.0"
flake8-comprehensions="~=3.0"
mccabe="~=0.6"
flake8-builtins="~=1.0"
flake8-print="~=3.0"
bandit = "~=1.6"
isort = "~=5.6"
black = "==21.5b0"
mypy = "~=0.9"
types-requests = "*"

[requires]
python_version = "3.9"

[scripts]
test = "python -m pytest --cov=s3mesh --cov-report=term-missing tests/unit tests/e2e"
format-import = "isort src/ tests/ setup.py"
format = "black -t py38 -l100 src/ tests/ setup.py"
check-format = "black --check -t py38 -l100 src/ tests/ setup.py"
typecheck = "mypy --ignore-missing-imports src/ tests/"
lint-flake8 = "flake8 src/ tests/ setup.py"
lint-bandit = "bandit -r src/"